<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Bonsoir</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="card">
        <h1> Bonsoir </h1>
        <h1> Please Login </h1>
        <form action="login" method="get"> 
            <div class="container">
                <div class="label-input-pair">
                    <label class="login-label" for="username">Username</label>
                    <input class="login-input" id="username" name="username" type="text" placeholder="Enter username" />
                </div>
                <div class="label-input-pair">
                    <label class="login-label" for="password">Password</label>
                    <input class="login-input" id="password" name="password" type="text" placeholder="Enter password" />
                </div>
                <button class="login-button">Login</button>
            </div>
        </form>
    </div>    
</body>